body {
    font-family: "Lucida Grande", Geneva, Verdana, sans-serif;
    font-style: new;
}

/* whole body properties */

.chat {
    height: 100vh;
}

.col {
    width: 50vw;
}

.chat .user {
    background-color: rgba(59,89,152,1.0);
    font-size: 2rem;
}

.chat .user .title {
    color: white;
}

.chat .bot {
    background-color: rgba(0,255,0,0.2);
    font-size: 2rem;
}

/* elements within chatbox */

ul {
	position: absolute;
	list-style: none;
    width: 100%;
	padding: 0px 1vw 0px 0.25vw;
}

li {
    display: inline-block;
}

.message.sender {
    float: right;
	background-color: rgba(255,0,0,0.2);
}

.message.receiver {
	float: left;
	background-color: rgba(0,125,125,0.2);
}

.chat .title {
    text-align: center;
}

.box {
    position: relative;
    display: block;
    overflow: auto;
    border: 2px solid grey;
    height: 70vh;
    background-color: white;
    font-size: 1.5rem;
}

.user .box {
    left: 1vw;
}

/* inputs for users */

.input input {
    position: relative;
    height: 5vh;
    width: 100%;
    font-size: 1.5rem;
}

.user .input input {
    left: 1vw;
}
