body {
    font-family: courier;
    font-style: new;
}

/* whole body properties */

.chat {
    height: 100vh;
}

.chat .user {
    background-color: rgba(0,0,255,0.2);
}

.chat .bot {
    background-color: rgba(0,255,0,0.2);
}

/* elements within chatbox */

ul {
	position: absolute;
	list-style: none;
	width: 39.8vw;
	padding: 0px 0.25vw 0px 0.25vw;
}

.message.sender {
	text-align: right;
	background-color: rgba(255,0,0,0.2);
}

.message.receiver {
	text-align: left;
	background-color: rgba(0,125,125,0.2);
}

.chat .title {
    text-align: center;
}

.box {
    position: relative;
    border: 2px solid black;
    height: 70vh;
    width: 40vw;
    left: 5vw;
}

/* inputs for users */

.input {
    width: 45vw;
    height: 10vh;
}

.input input {
    position: relative;
    height: 5vh;
    width: 35vw;
    top: 1vh;
    left: 5vw;
}

.input button {
    position: relative;
    top: 1vh;
    left: 5vw;
}
